body {
    background-color: rgb(4, 4, 79);
    border-color: black;
    box-shadow: 0 0 20px;
}
h1 {
    background-color: rgb(215, 198, 218);
    font-family: Arial Narrow, sans-serif;
    text-align: center;
    box-shadow: 0 0 10px;
}
#add-books-form {
    background-color: #dfb1eb;
    border-radius: 10px;
    box-shadow: 0 0 10px;
    width: 450px;
    height: 350px;
    padding: 20px;
    margin: 0 auto;
}
#add-books-form label {
    text-align: center;
    font-size: 20px;
}
#add-books-form input[type="text"],
#add-books-form select {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    margin-top: 10px;
}
#add-books-form {
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    margin-top: 5px;
}
.book-card {
    background-color: rgb(221, 222, 222);
    border-radius: 10px;
    box-shadow: 0 0 10px;
    width: 50%;
    margin: auto;
}
p.book-card {
    font-size: 15px;
}
h3.book-card {
    font-size: 10px;
}
.delete {
    margin-right: 20px;
}
#search-bar {
    text-align: center;
    padding-top: 20px;
}
